*{
box-sizing: border-box;
margin: 0;
padding: 0;
}

html{
height: 100%;
}


body{
font-family:sans-serif;
	font-size: 1.2 rem;
	min-height: 100%
}

.grid-container>*{
box-shadow: -1px 1px 7px  0px ;
border-radius: 15px;
text-align: center;
align-items: flex-end;
margin: 10px;
}

.header{
	grid-area: header;
	background-color: #FFFFCD;
border-style: dashed;
border-color: #8A2BE2;
border-width: thick;
font-style: normal;
font-stretch: extra-expanded;

}

.navbar{
	grid-area:navbar ;
	background-color:#4B0082 ;
	height: 80px;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	border-style: groove;
border-color: white;
}

.nav-menu{
	display: flex;
	justify-content:space-between;
	margin-right: 40px;
	list-style: none;
	width: max-content;

}

.nav-class-link{
color:#FFFFF0;
text-decoration: none;
line-height: 40px;
}

.nav-menu-item{
font-size: 18px;
margin: 0 10px;
line-height: 80px;
text-transform: uppercase;

}
.men{
font-size: 30px;
padding: 0 40px;
line-height: 80px;

}
.sidebar{
	grid-area: sidebar;
	background-color:#FFE4C4 ;
border-style: solid;
	border-color: #FFF0F5;
}
.main{

	grid-area: main;
	background-color:white ;
	border-style: solid;
	border-color: #ADFF2F;
}
.footer{
	grid-area: footer;
	background-color:#A9A9A9 ;
border-style: solid;
	border-color: #E6E6FA;
}


.grid-container{
	display: grid;
	gap:10px;
grid-template-areas:
"navbar"
"header"
"main"
"sidebar"
"footer";
}

@media (min-width:600px) {
.grid-container{
	display: grid;
gap: 20px;
grid-template-areas:
	"navbar navbar"
	"header header"
	"sidebar main"
	"footer footer";
}
}

@media (min-width:900px) {
.grid-container{
	grid-template:
	"navbar navbar navbar"100px
	"header header header"auto
	"sidebar main main "auto
	"footer footer footer"100px/ 200px auto 200px ;

}
}

body{background-image: url(../img/Patitas.jpg);}

.contenedor{
	align-content: center;
	justify-content: center;
	display: grid;
	height: 30vh;
}

.btn{
	border: 3px solid rgba(100,100,100,0.1);
	margin-bottom: 20px;
	padding: 20px;
	width: 300px;
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	border-radius: 5px;
	cursor: pointer;
	color: #fff;
	background-size: 300%;
	transition: 0.8s;
}

.btn:hover{
	background-position: right;
}

.btn1{
background-image: linear-gradient(to left, #FF5733, #B81B57, #FF5733);
}

.btn2{
	background-image: linear-gradient(to left, #FFCAE3, #FF499D, #FFCAE3);
}
#pelaje{
	text-align: left;
}
#col{
	text-align: left;
}
img{
	width: 70%;
	height: auto;
}

//*.carrusel {
  height: 100vh;
  display: flex;
  align-items: center;
}

.carrusel-items {
  display: flex;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 30px 0px;
}

.carrusel-item {
  min-width: 300px;
  max-width: 300px;
  height: 200px;
  outline: 2px solid black;
  cursor: pointer;
}

.carrusel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carrusel-item:hover {
  transform: scale(1.2);
}
*/

.carousel {
    max-width: auto;
    margin: 0 auto;
    display: flex;
}
#imagen {
    width:auto;
    height: 255px;
    background-size: contain;
background-repeat: no-repeat;
display: block;
margin-left: auto;
margin-right: auto;
background-position: center;
}
#retroceder{
	border: 4px solid rgba(100,100,100,0.2);
	margin-bottom: 20px;
	padding: 20x;
	width: 180px;
	font-family: 'Poppins', sans-serif;
	font-size: 18px;
	border-radius: 8px;
	color: #ffffff;
	background-size: 300%;
	background-position: right;
background-image: linear-gradient(to left, #9e0d9e, #d9a2e7, #9e0d9e);
}
#avanzar{
	border: 4px solid rgba(100,100,100,0.2);
	margin-bottom: 20px;
	padding: 20x;
	width: 180px;
	font-family: 'Poppins', sans-serif;
	font-size: 18px;
	border-radius: 8px;
	color: #ffffff;
	background-size: 300%;
	background-position: right;
background-image: linear-gradient(to left, #9e0d9e, #d9a2e7, #9e0d9e);
}
#play{
	border: 4px solid rgba(100,100,100,0.2);
	margin-bottom: 20px;
	padding: 20x;
	width: 180px;
	font-family: 'Poppins', sans-serif;
	font-size: 18px;
	border-radius: 8px;
	color: #ffffff;
	background-size: 300%;
	background-position: right;
background-image: linear-gradient(to left, #00cc00, #99ff99, #00cc00);
}
#stop{
	border: 4px solid rgba(100,100,100,0.2);
	margin-bottom: 20px;
	padding: 20x;
	width: 180px;
	font-family: 'Poppins', sans-serif;
	font-size: 18px;
	border-radius: 8px;
	color: #ffffff;
	background-size: 300%;
	background-position: right;
background-image: linear-gradient(to left, #ff6666, #ffb2b2, #ff6666);
}
